<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About Page</h1>
    <%- include('./nav.ejs') %>

    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, incidunt aliquam molestiae quidem aliquid maiores, dolore sed rem fugit aperiam sunt quas officiis eaque impedit quibusdam quasi odit, dicta hic sapiente doloribus fugiat atque. Delectus, minima similique architecto, distinctio consequuntur vero eligendi sed quia veritatis dolor ratione quisquam et non?</p>
    <p>This is a khatra website</p>
</body>
</html>